@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeInUp-Navbar {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp-Navbar {
  animation: fadeInUp-Navbar 0.3s ease backwards;
}

@keyframes fadeOut-Navbar {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.animate-fadeOut-Navbar {
  animation: fadeOut-Navbar 0.3s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.3s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.animate-fadeOut {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeInOverlay {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}
.animate-fadeInOverlay {
  animation: fadeInOverlay 0.3s ease forwards;
}

@keyframes fadeOutOverlay {
  0% {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}
.animate-fadeOutOverlay {
  animation: fadeOutOverlay 0.3s ease forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* fade-in effect */
  animation: fadeIn 1s ease-in-out; /* 1s คือความเร็ว, ปรับได้ */
}
